if SHIELD_UNTITLED36_L

config ZMK_KEYBOARD_NAME
    default "Untitled36"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_UNTITLED36_R

config ZMK_KEYBOARD_NAME
    default "Untitled36_R"

config ZMK_SPLIT
    default y

endif
